<main>

<div class="card">
    <img class="card-img-top" src="http://picsum.photos/400/200" alt="Product photo"> 
    <div class="card-body">
        <h5 class="card-title"> Product #16433</h5>
      <p> USB xab Type C12</p>
      <a href="/summary" class="btn btn-primary">Open</a>
    </div>
</div>
<br>
<br>
<br>

<div class="list-group"> 
    <div class="list-group-item">Item1</div>
    <div class="list-group-item">Item2</div>
    <div class="list-group-item">Item3</div>
</div>


</main>