<main>
текст расположен по центру <h1 class="text-center text-uppercase">Hello world</h1>     

текст расположен в правой части <h2 class="text-end">second</h2>            
 
<h>3 title</h>

<hr>

<div class="display-1 text-muted"> Hello world </div>  

<div class="display-5">second</div>
<div class="display-6"> 3 title</div>

<hr>

текст серый <div
    class="text-muted text-end"> 
    додатковий <span class="display-6"> текст </span>
</div>

<div class="text-uppercase">Для смены регистра</div> 
<div class="text-lowercas">для смены регистра</div>
<div class="text-capitalize">для смены регистра</div>

<hr>
<button class="btn btn-primary">btnTest button (визначає основний синій колір кнопки)</button>
<button class="btn btn-secondary">btnTest button (визначає додатковий (сірий) колір кнопки)</button>
<button class="btn btn-success">btnTest button (визначає успішний зелений колір кнопки)</button>
<button class="btn btn-danger">btnTest button (визначає опасній червоний колір кнопки)</button>
<button class="btn btn-warning">btnTest button (визначає попереджувальний жовтий колір кнопки)</button>
<button class="btn btn-info">btnTest button (визначає інформаційний блакитний колір кнопки)</button>
<button class="btn btn-light">btnTest button (визначає світлий колір кнопки)</button>
<button class="btn btn-dark">btnTest button (визначає темний колір кнопки)</button>
<button class="btn btn-link">btnTest button (визначає кнопку з посиланням)</button>
<hr>
<p class="text-primary">My text (сірий) колір</p>
<p class="text-muted">My text (сірий) колір</p>
<p class="text-secondary">My text (сірий) колір</p>
<p class="text-success">My text зелений колір </p>
<p class="text-danger">My text червоний колір </p>
<p class="text-warning">My text  жовтий колір </p>
<p class="text-info">My text блакитний колір </p>
<p class="text-light">My text світлий прозорий колір </p>
<p class="text-dark">My text темний колір </p>
<hr>
<button class="btn btn-outline-primary">btnTest синій колір кнопки</button>
<button class="btn btn-outline-secondary">btnTest(сірий) колір кнопки</button>
<button class="btn btn-outline-success">btnTest зелений колір кнопки</button>
<button class="btn btn-outline-danger">btnTest червоний колір кнопки</button>
<button class="btn btn-outline-warning">btnTest жовтий колір кнопки</button>
<button class="btn btn-outline-info">btnTest блакитний колір кнопки</button>
<button class="btn btn-outline-light">btnTest  світлий колір кнопки</button>
<button class="btn btn-outline-dark">btnTest темний колір кнопки</button>
<button class="btn btn-outline-link">btnTest  кнопкa з посиланням</button>
<hr>
<button class="btn btn-primary btn-lg">big btn</button>
<button class="btn btn-secondary btn-sm">smol btn</button>

<hr>
<div class="card">
    <div class="card-body">
         This my content
    </div>
</div>


<div>
    <div class="card">
    <div class="card-body">
        hello world
</div>
</main>